@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Moment 1.1!</h1>
    <p>Hej besökare! Jag heter Simon Brandtman och detta är en sida jag har skapat för att
        demonstrera min lösning på moment 1.1 i kursen DT191G - Webbutveckling med .NET
    </p>
</div>
